.form-add-todo {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: qwery sfa;
}

@media screen and (max-width: 520px) {
  .form-add-todo {
    flex-direction: column;
  }
}
