.todo-list {
  padding: 0;
  margin: 0 auto;
  max-width: 550px;
}

.loading-data {
  max-width: 550px;
  text-align: center;
  margin: 0 auto;
  color: blue;
  font-weight: bold;
  min-height: 30px;
}
