.standart {
  margin: 1rem;
  border: 2px solid grey;
  min-width: 15rem;
  height: 25px;
  border-radius: 5px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 0px;
  padding-bottom: 0px;
}
